@media (max-width: 1000px) {
    html {
        font-size: 90%;
    }

    #t2-imgContainer {
        grid-column: 5 / 11;
        grid-row: 3 / 7;

        display: grid;
        place-items: center;

        width: 120%;

        .img {
            #t2-img {
                width: 100%;
            }   
        }
    }
}