:root {
    --ff-header-title: 'Zen Dots', cursive;
    --ff-header-text: 'MuseoModerno', cursive;
    --ff-nav-link: 'Comfortaa', cursive;

    --clr-black: #1E1E24;

    --clr-difference: #EBEBD3;
}