.main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.t1 {
  justify-content: space-evenly;
  background: rgb(131, 58, 180);
  background: linear-gradient(
                  227deg,
                  rgba(131, 58, 180, 1) 0%,
                  rgb(253, 70, 70) 62%,
                  rgba(252, 176, 69, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.left {
  position: relative;
  top: 40vh;

  .t1-title {
    font-size: 5rem;
    max-width: 30vw;
  }
}

.right {
  position: relative;
  top: 50%;
  transform: translate(0, -25%);
}
