#t2-main {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;

    will-change: auto;

    grid-template-columns: repeat(2, 0.15fr) repeat(10, 0.1fr) repeat(2, 0.15fr);
    grid-template-rows: repeat(3, 0.3fr) repeat(4, 0.25fr) repeat(2, 0.3fr);

    cursor: default;
    place-items: center;
    overflow: hidden;

    .t2-figure {
        grid-column: 1 / 3;
        grid-row: 1 / 3;

        position: absolute;
        
        opacity: 0;
        transition: opacity 0.5s ease-out;

        figcaption {
            font-size: 8px;
            mix-blend-mode: difference;
        }

        &.visible {
            opacity: 1;
        }
    }

    .t2-title {
        grid-column: 3 / 13;
        grid-row: 4 / 8;

        display: grid;
        place-items: center;

        p {
            max-width: max-content;
            font-size: 4rem;
            mix-blend-mode: difference;

            z-index: 2;
        }
    }
}