@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root {
  --ff-header-title: "Zen Dots", cursive;
  --ff-header-text: "MuseoModerno", cursive;
  --ff-nav-link: "Comfortaa", cursive;
  --clr-white: #EBEBD3;
  --clr-black: #1E1E24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body,
#root {
  width: 100%;
  height: 100%;
}

button {
  width: 6rem;
  color: black;
  background-color: white;
}

.image {
  display: flex;
  object-fit: cover;
  object-position: center;
}

.img {
  position: relative;
}
.img figcaption {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.imgLeft {
  margin-left: 5%;
}

.imgRight {
  margin-left: auto;
  margin-right: 5%;
}

.imgCenter {
  margin: auto;
}

.imgSmall {
  height: 200px;
  width: 200px;
}

.imgMedium {
  height: 400px;
  width: 400px;
}

.imgLarge {
  height: 600px;
  width: 600px;
}

.colorTest {
  height: 100px;
  width: 100px;
}

.text {
  font-size: 1rem;
}

.title {
  font-size: 3rem;
}

.svgSmall {
  max-width: 100px;
  max-height: 100px;
}

.svgMedium {
  min-width: 300px;
  min-height: 300px;
}

.svgLarge {
  max-width: 400px;
  max-height: 400px;
}

.svgAbsolute {
  position: absolute;
}

.svgBackground {
  z-index: 0;
}

.svgForeground {
  z-index: 5;
}

#square {
  top: 65%;
  left: 20%;
  transition: ease-in-out;
}

#triangle {
  top: 5%;
  left: 10%;
}

#parallelogram {
  top: 2%;
  right: 20%;
}

#circle {
  top: 45%;
  right: 15%;
}

#blob {
  width: 80%;
  height: 80%;
}

header {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-columns: repeat(2, 0.15fr) repeat(2, 0.5fr) repeat(2, 0.15fr);
  grid-template-rows: repeat(3, 0.3fr) repeat(2, 0.5fr) repeat(2, 0.3fr);
  place-items: center;
  background: var(--clr-black);
}
header #header_title,
header #header_text {
  grid-column: 3/5;
  color: var(--clr-white);
  text-align: center;
}
header #header_title {
  grid-row: 4/5;
  font-family: var(--ff-header-title);
  font-size: 5rem;
  z-index: 1;
}
header #header_text {
  width: 50%;
  grid-row: 5/6;
  font-family: var(--ff-header-text);
  font-size: 1.25rem;
  z-index: 1;
}

nav {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 0.15fr) repeat(2, 0.5fr) repeat(2, 0.15fr);
  grid-template-rows: repeat(3, 0.3fr) repeat(2, 0.5fr) repeat(2, 0.3fr);
  place-items: center;
}
nav a {
  position: relative;
  color: var(--clr-white);
  text-decoration: none;
  font-size: 1.15rem;
  font-family: var(--ff-nav-link);
  z-index: 1111;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: var(--clr-white);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.15s linear;
}
nav a:hover::after {
  transform: scaleX(1);
}
nav #sven {
  grid-column: 1/3;
  grid-row: 1/3;
}
nav #jorg {
  grid-column: 5/7;
  grid-row: 1/3;
}
nav #daryl {
  grid-column: 1/3;
  grid-row: 6/8;
}
nav #stefan {
  grid-column: 5/7;
  grid-row: 6/8;
}

.section {
  --bg: black;
  --txt: white;
  --clr-white: white;
  margin: 0;
  height: 100vh;
  background: var(--bg);
  color: var(--txt);
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.t1 {
  justify-content: space-around;
  background: #833ab4;
  background: linear-gradient(227deg, #833ab4 0%, #fd4646 62%, #fcb045 100%);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.left {
  position: relative;
  top: 40vh;
}
.left .t1-title {
  font-size: 5rem;
  max-width: 30vw;
}

.right {
  position: relative;
  top: calc(100% - 150px);
}

#t3-main {
  font-family: monospace;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

#t3-title1 {
  position: relative;
  width: 50VH;
  display: flex;
  justify-content: center;
  top: 19.2VH;
  height: fit-content;
  z-index: 10;
}

#t3-title2 {
  position: absolute;
  width: 50VH;
  display: flex;
  justify-content: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  z-index: 5;
}

.t3-title {
  height: fit-content;
  font-size: 6rem;
  font-weight: bold;
}

#t3-imgContainer {
  position: absolute;
  top: 50VH;
  transform: translate(0%, -50%);
  width: 50VH;
  height: 50VH;
  overflow: hidden;
  z-index: 1;
}
#t3-imgContainer .img {
  width: 50VH;
  height: 50VH;
  position: relative;
}

#t3-img {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-15VH, -12VW);
  width: 80VH;
  height: 80VH;
  object-fit: cover;
  object-position: center;
}

#t3-text {
  width: 100VW;
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 3%;
  mix-blend-mode: multiply;
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
