.section {
    --bg: black;
    --txt: white;
    --clr-white: white;
    --g1: red;
    --g2: red;
    --g3: red;

    position: relative;
    height: 100vh;
    margin: 0;
    min-width: 100%;

    background: var(--bg);
    color:var(--txt);
}