nav {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: repeat(2, 0.15fr) repeat(2, 0.5fr) repeat(2, 0.15fr);
    grid-template-rows: repeat(3, 0.1fr) repeat(2, 0.5fr) repeat(2, 0.1fr);

    place-items: center;

    a {
        position: relative;

        color: var(--clr-white);
        text-decoration: none;
        font-size: 1.15rem;
        font-family: var(--ff-nav-link);

        z-index: 1111;

        &::after {
            content: '';
            position: absolute;

            left: 0;
            bottom: -3px;

            width: 100%;
            height: 2px;

            background: var(--clr-white);
            border-radius: 5px;

            transform: scaleX(0);

            transition: transform 0.15s linear;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

    #sven {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    #stefan {
        grid-column: 5 / 7;
        grid-row: 1 / 3;
    }

    #daryl {
        grid-column: 1 / 3;
        grid-row: 6 / 8;
    }

    #jorg {
        grid-column: 5 / 7;
        grid-row: 6 / 8;
    }
}