.image{
  display: flex;
  object-fit: cover;
  object-position: center;
}

.imgCaption {
  position: absolute;
  right: 11%;
  top: 15%;
}

.imgLeft {
  margin-left: 5%;
}

.imgRight{
  margin-left: auto;
  margin-right: 5%;
}

.imgCenter {
  margin: auto;
}

.imgSmall {
  height: 200px;
  width: 200px;
}

.imgMedium{
  height: 400px;
  width: 400px;
}

.imgLarge {
  height: 600px;
  width: 600px;
}

.colorTest {
  height: 100px;
  width: 100px;

}