.image{
  margin-top: 5%;
  object-fit: cover;
  object-position: center;
}

.imgLeft {
  margin-left: 5%;
}

.imgRight{
  margin-left: auto;
  margin-right: 5%;
}

.imgCenter {
  margin: 5% auto;
}

.imgSmall {
  height: 200px;
  width: 200px;
}

.imgMedium{
  height: 400px;
  width: 400px;
}

.imgLarge {
  height: 600px;
  width: 600px;
}

.colorTest {
  height: 100px;
  width: 100px;

}